.App {
  text-align: center;
}

body {
  background-color: rgb(197, 193, 170);
  color: white;
}

.default {
  color: white;
  text-decoration: none;
}

.active {
  color: orange;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: rgb(94, 18, 18);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-container {
  width: 30%;
  margin: 10vh 35%;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(31, 26, 26);
  padding: 2.5em;
  border-radius: 1em;
}

input {
  border: 0;
  margin: 1em;
  font-size: 1em;
}

button {
  background-color: rgb(94, 18, 18);
  color: white;
  font-size: 1em;
  margin: 1em;
  border: 0;
  padding: 0.5em;
}

.message {
  color: orange;
}

.register {
  font-size: 1em;
  margin: 1em;
  text-decoration: none;
  background-color: rgb(94, 18, 18);
  color: white;
  padding: 0.5em;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prod-grid {
  display: grid;
  border-top: 1px solid rgb(104, 97, 97);
  border-bottom: 1px solid rgb(104, 97, 97);
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  margin-top: 1em;
  margin-bottom: 4em;
  grid-gap: 2em;
}

.prod {
  margin: 2em;
  border: 1px solid rgb(104, 97, 97);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prod-img {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  max-height: 200px;
  margin: 2em auto 1em;
}

.prod-text-wrapper {
  margin: 0.7em;
  font-size: 1.3em;
}

.prod-name {
  font-weight: bold;
  text-align: center;
  margin-left: 0.5em;
}