.App {
  text-align: center;
}

@font-face {
  font-family: "Croissant-One"; 
  src: local("CroissantOne-Regular"),
    url("./fonts/CroissantOne-Regular.ttf") format("truetype");
}

body {
  background-color: rgb(197, 193, 170);
  color: white;
}

.default {
  color: white;
  text-decoration: none;
}


.default:hover {
  transition: 1s;
  color: rgb(197, 193, 170);
  text-decoration: none;
}

.active {
  color: #FFDE8E;
  text-decoration: none;
}

.default-logo {
  color: white;
  text-decoration: none;
  font-size: 2em;
  font-family: 'Croissant-One';
}

.default-logo:hover {
  transition: 1s;
  color: rgb(197, 193, 170);
  text-decoration: none;
}

.active-logo {
  color: #FFDE8E;
  font-size: 2em;
  text-decoration: none;
  font-family: 'Croissant-One';
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: #397978;
  display: flex;
  justify-content: left;
  text-indent: 2em;
  gap: 1em;
  align-items: center;
}

.form-container {
  width: 30%;
  margin: 10vh 35%;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  background-color: #397978;
  padding: 2.5em;
  border-radius: 1em;
}

.form-button {
  text-decoration: none;
  color: white;
  background-color: rgb(94, 18, 18);
  font-size: 1em;
  margin: 1em;
  border: 3px solid rgb(39, 39, 39);
  border-radius: 8px;
  padding: 0.5em;
}


.form-button:hover {
  transition: 1s;
  color: black;
  background: rgb(197, 193, 170);
 }
 

input {
  border: 0;
  margin: 1em;
  font-size: 1em;
}

input:hover {
  transition: 1s;
  background-color: #FFDE8E;
}

button {
  color: black;
  background-color: rgb(197, 193, 170);
  font-size: 1em;
  margin: 1em;
  border: 3px solid rgb(39, 39, 39);
  border-radius: 8px;
  padding: 0.5em;
}

button:hover {
 transition: 1s;
 color: white;
 background-color: rgb(39, 39, 39);
}

.splash-screen-button {
  color: black;
  background-color: rgb(197, 193, 170);
  font-size: 2em;
  margin: 1em;
  border: 3px solid rgb(39, 39, 39);
  border-radius: 8px;
  padding: 0.5em;
  text-decoration: none;
}

.splash-screen-button:hover {
  transition: 1s;
  color: white;
  background: rgb(39, 39, 39);
}

.message {
  color: orange;
}

.register {
  font-size: 1em;
  margin: 1em;
  text-decoration: none;
  background-color: rgb(94, 18, 18);
  color: white;
  padding: 0.5em;
}

.profile {
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  text-indent: 1em;
  align-items: center;
  justify-content: center;
}

.profile-title {
  margin: 2em;
}

.edit-button { 
  margin: 2em;
}

.profile input {
   width: 20vw;
   padding: 0.5em;
}

.profile input:disabled {
  background-color: rgb(228, 226, 212);
  color: black;
}

.delete-account-button {
  color: white;
  background-color: #914746;
  font-size: 1em;
  margin: 1em;
  border: 3px solid #914746;
  border-radius: 8px;
  padding: 0.5em;
}

.delete-account-button:hover {
 transition: 1s;
 color: black;
 border: 3px solid #FFDE8E;
 background-color: #FFDE8E;
}

.prod-grid {
  display: grid;
  border-top: 1px solid rgb(39, 39, 39);
  border-bottom: 1px solid rgb(39, 39, 39);
  justify-content: space-between;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  margin: 3em;
  grid-gap: 2em;
}

.prod {
  margin: 2em;
  border: 1px solid rgb(39, 39, 39);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.prod:hover {
  transition:1s;
  background-color:rgb(180, 177, 158);
}

.prod-img {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  max-height: 200px;
  margin: 2em auto 1em;
}

.prod-text-wrapper {
  color: white;
  margin: 0.7em;
  font-size: 1.3em;
}

.prod-name {
  font-weight: bold;
  text-align: center;
  margin-left: 0.5em;
}