.App {
  text-align: center;
}

body {
  background-color: rgb(22, 22, 22);
  color: white;
}

.default {
  color: white;
  text-decoration: none;
}

.active {
  color: orange;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: rgb(94, 18, 18);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-container {
  width: 30%;
  margin: 10vh 35%;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(56, 56, 56);
  padding: 2.5em;
  border-radius: 1em;
}

input {
  border: 0;
  margin: 1em;
  font-size: 1em;
}

button {
  background-color: rgb(94, 18, 18);
  color: white;
  font-size: 1em;
  margin: 1em;
  border: 0;
  padding: 0.5em;
}

.message {
  color: orange;
}

.register {
  font-size: 1em;
  margin: 1em;
  text-decoration: none;
  background-color: rgb(94, 18, 18);
  color: white;
  padding: 0.5em;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}